.overhead {
  margin: 83px 87px 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #989898;
  text-align: left;
}

@media (max-width: 1024px) {
  .overhead {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
  }
}

.title {
  margin: 12px 0px 10px 0px;
  font-family: "Lusitana";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 4px;
  color: #333333;
  text-align: left;
}

@media (max-width: 1024px) {
  .title {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
  }
  .main-block__info {
    display: block;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
  }
}
