* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
iframe {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: .3s;
  color: #495057;
}

ul {
  list-style: none;
}

html {
  overflow-x: hidden;

  &.hidden {
    overflow-y: hidden;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #212529;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  color: #F36823;
}

.header {
  background: #fff;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;

    &-mobile {
      display: none;
    }

    &-flex {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-action-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-decoration: underline;
    color: #495057;

    &-accent {
      color: #F36823;
    }
  }
}

.lang-dropdown {
  position: relative;

  &-toggle,
  &-item {
    font-size: 16px;
    line-height: 26px;
    color: #495057;
    cursor: pointer;
  }
  
  &-item {
    &:hover {
      color: #F36823;
    }
  }

  &-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 5px 12px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: -8px;
    transform: translateY(100%);
    right: 0;
    z-index: 5;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

    &.active {
      display: flex;
    }
  }
}

.hamburger {
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  cursor: pointer;

  &-line {
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
  }

  &-top {
    margin-top: 0;
  }

  &-active {
    .hamburger-top {
      transform: rotate(-45deg);
      margin-top: 6px;
    }

    .hamburger-bottom {
      opacity: 0;
      transform: rotate(45deg);
    }

    .hamburger-mid {
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;

  &-link {
    color: rgba(73, 80, 87, 0.5);
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: #F36823;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .3s;
    }

    &:hover {
      color: #495057;
    }

    &-active {
      font-weight: 600;
      color: #495057;

      &::before {
        opacity: 1;
      }
    }
  }
}

.hero {
  padding: 66px 0;
  position: relative;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 110px;

    div, iframe {
      flex: 1 1 0;
    }
  }

  &-text {
    margin: 14px 0 10px;
  }

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.features {
  margin-top: 117px;
  background: url('/images/features-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 51px 0 58px;

  &-title {
    margin-bottom: 22px;
  }

  &-grid {
    height: 630px;
  }

  &-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 4px rgba(234, 237, 240, 0.4);
    border-radius: 8px;
    padding: 32px 32px 38px;
    border-bottom: 4px solid #FF9763;
    height: calc((100% - 30px) / 2);

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #212529;
      margin-bottom: 10px;
    }
  }
}

.advantages {
  padding-top: 86px;
  padding-bottom: 117px;

  &-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #495057;
    margin: 0 auto 35px;
    max-width: 790px;
  }

  &-subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #495057;
    margin-bottom: 12px;
  }

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &-item {
    min-height: 470px;
    position: relative;
    margin-bottom: 82px;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      .advantages-wrapper {
        flex-direction: row-reverse;
      }

      .advantages-img {
        right: unset;
        left: 0;
        transform: scaleX(-1);
      }
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &-text {
    margin: 14px 0 10px;
  }
}

.banner {
  background: url('/images/feedback-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 56px 0;
  text-align: center;

  &-title {
    color: #fff;
  }

  &-text {
    color: #fff;
    margin: 14px auto;
    max-width: 517px;
    opacity: 0.8;
  }

  &-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}

.footer {
  padding: 96px 0 100px;
  background: #212529;

  &-logo {
    display: flex;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 28px;

    &-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #8C8F91;

      &:hover {
        color: #F36823;
      }
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 25px;
      color: rgba(248, 249, 250, 0.5);

      &:hover {
        color: #F36823;
      }
    }
  }

  hr {
    margin: 30px 0 40px;
    height: 1px;
    background: rgba(229, 229, 229, 0.2);;
    border: none;
  }

  &-address,
  &-copy {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(248, 249, 250, 0.5);
  }
}

// features page
.features-hero {
  background: url('/images/features-bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 146px 0 176px;

  &-text {
    max-width: 633px;
    margin: 14px auto 10px;
  }
}

.features-detail {
  margin-top: 64px;
  margin-bottom: 84px;

  &:first-of-type {
    margin-top: 84px;
  }

  &-text {
    margin: 14px 0 24px;
    max-width: 820px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;
  }

  &-item {
    background: #F7F7F7;
    border-radius: 8px;
    padding: 24px;
    flex: 1 1 0;
    min-width: calc((100% - 40px) / 3);
    max-width: calc((100% - 40px) / 3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #212529;
      position: relative;
      display: block;
      padding-left: 12px;
      margin-left: 10px;

      &::before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #212529;
        position: absolute;
        top: 11px;
        left: 0;
      }
    }
  }
}

.features-main {
  position: relative;

  &-img-1 {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
  }

  &-img-2 {
    position: absolute;
    right: 0;
    top: 40%;
    z-index: -1;
  }

  &-img-3 {
    position: absolute;
    left: 0;
    top: 70%;
    z-index: -1;
  }
}
// end features page

// pricing page
.price {
  padding: 65px 0 50px;

  &-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #212529;
    text-align: center;
    margin: 0;
  }

  &-top-title {
    margin-bottom: 14px;
  }

  &-text {
    font-size: 16px;
    line-height: 26px;
    color: #495057;
    text-align: center;
    margin: 0;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    margin: 68px auto 50px;
    width: max-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 4px rgba(234, 237, 240, 0.7);
    border-radius: 16px;
  }

  &-card {
    padding: 60px 50px 66px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      .price-card-top {
        border-bottom: 2px solid #4879F1;
      }

      .price-card-title {
        color: #4879F1;
      }

      .price-card-btn {
        border: 2px solid #4879F1;
        color: #4879F1;

        &:hover {
          background: #4879F1;
          color: #fff;
        }
      }
    }

    &:nth-of-type(2) {
      border: 1px solid #F36823;
      box-shadow: 0px 0px 22px 4px rgba(234, 237, 240, 0.6);

      .price-card-badge {
        background: rgba(243, 104, 35, 0.2);
        color: #F36823;
      }

      .price-card-top {
        border-bottom: 2px solid #F36823;
      }

      .price-card-title {
        color: #F36823;
      }

      .price-card-btn {
        border: 2px solid #F36823;
        color: #F36823;

        &:hover {
          background: #F36823;
          color: #fff;
        }
      }
    }

    &:last-of-type {
      .price-card-badge {
        background: rgba(105, 176, 12, 0.2);
        color: #69B00C;
      }

      .price-card-top {
        border-bottom: 2px solid #69B00C;
      }

      .price-card-title {
        color: #69B00C;
      }

      .price-card-btn {
        border: 2px solid #69B00C;
        color: #69B00C;

        &:hover {
          background: #69B00C;
          color: #fff;
        }
      }
    }

    &-badge {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 6px 20px;
      border-radius: 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.833333px;
      text-transform: uppercase;
    }

    &-top {
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      color: #848199;
      padding-bottom: 9px;

      span {
        font-weight: 600;
        font-size: 36px;
        line-height: 46px;
        color: #212529;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 46px;
      margin: auto 0 20px;
      text-transform: capitalize;
    }

    &-per-month {
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      color: #C2C2C4;
      margin-top: 7px;

      span {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
      }
    }

    &-btn {
      border-radius: 40px;
      padding: 10px 50px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      outline: none;
      background: #fff;
      transition: .3s;
      cursor: pointer;
    }

    &-trial {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #848199;
      display: inline-block;
      text-decoration: underline;
      margin: 15px auto 0;
      cursor: pointer;
    }
  }

  &-benefits {
    margin: 50px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 4px rgba(234, 237, 240, 0.7);
    border-radius: 16px;
    padding: 64px 80px 74px 120px;
  }

  &-list {
    margin: 38px 0 0;
    padding: 0;

    &-item {
      margin-bottom: 28px;
      font-size: 24px;
      line-height: 26px;
      color: #212529;
      list-style-image: url('/images/check.svg');
      list-style-position: inside;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-link {
    color: #4879F1;
  }
}
// end pricing page

// about page
.about {
  padding: 65px 0 80px;
  text-align: center;

  &-text {
    margin: 14px auto 30px;
    max-width: 900px;
  }

  &-title {
    text-align: left;
    margin-top: 82px;
  }

  &-accordion {
    cursor: pointer;
    font-size: 21px;
    line-height: 32px;
    color: #212529;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-active {
      .about-accordion-icon span:last-of-type {
        opacity: 0;
      }
    }

    &-icon {
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;

      span {
        width: 14px;
        height: 2px;
        background: #212529;

        &:last-of-type {
          position: absolute;
          transform: rotate(90deg);
          transition: .3s;
        }
      }
    }
  }

  &-panel {
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    p {
      font-size: 16px;
      line-height: 26px;
      color: #495057;
      padding: 0 0 16px;
      text-align: left;
    }
  }
}
// end about page

// video guide page
.guide {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #fff;
  min-height: 100vh;
  position: relative;
  padding: 94px 0 60px;
  overflow: hidden;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  iframe {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  &-img-1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%);
  }

  &-img-2 {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-img-3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #212529;
    margin-bottom: 140px;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &-item {
    display: flex;
    gap: 110px;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    iframe,
    &-wrapper {
      flex: 1 1 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: 600;
      font-size: 32px;
      line-height: 46px;
      color: #212529;
    }

    &-text {
      font-size: 16px;
      line-height: 26px;
      color: #495057;
      margin: 14px 0 16px;
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #F36823;
      text-decoration: underline;
      margin-left: auto;
    }
  }
}
// end video guide page

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;

    &-logo {
      display: none;

      &-mobile {
        display: flex;
        width: 136px;
        margin-top: 5px;
      }
    }

    &-wrapper {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 18;
      height: calc(100vh - 50px);
      padding: 40px;
      transition: .3s;
      transform: translateY(-110%);
      background: #fff;
      flex-direction: column;

      &-active {
        transform: translateY(0);
      }

      &-mobile {
        position: relative;
        z-index: 19;
        background: #fff;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-actions {
      flex-direction: column;
    }
  }

  .nav {
    flex-direction: column;
  }

  .lang-dropdown-desktop {
    display: none;
  }

  main {
    padding-top: 50px;
  }
  
  .features {
    &-grid {
      height: 940px;
    }

    &-item {
      height: calc((100% - 40px) / 3);
    }
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .hero {
    padding: 18px 0 48px;

    &-wrapper {
      gap: 44px;
      flex-direction: column-reverse;

      div,
      iframe {
        flex: unset;
      }

      iframe {
        width: 100%;
      }
    }
    &-text {
      margin: 10px 0 14px;
    }
    &-img {
      display: none;
    }
  }

  .features {
    margin-top: 0;
  }

  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;

    &-title {
      font-size: 24px;
      line-height: 32px;
    }

    &-item {
      margin-bottom: 50px;

      &:nth-of-type(even) {
        .advantages-wrapper {
          flex-direction: column-reverse;
        }

        .advantages-img {
          right: 0;
          left: 0;
          transform: unset;
        }
      }

      &:first-of-type {
        .advantages-wrapper {
          margin-top: 50px;
          gap: 70px;
        }
      }

      &:nth-of-type(2) {
        .advantages-wrapper {
          gap: 60px;
        }
      }

      &:last-of-type {
        .advantages-wrapper {
          margin-top: 40px;
          gap: 60px;
        }
      }
    }

    &-img {
      left: 0;
      top: 0;
      bottom: unset;
    }

    &-wrapper {
      flex-direction: column-reverse;
    }
  }

  .price {
    padding: 30px 0 40px;

    &-title {
      font-size: 24px;
      line-height: 32px;
    }

    &-wrapper {
      margin: 40px auto;
      flex-direction: column;
    }

    &-card {
      padding: 48px 26px 26px;

      &-top {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 0;

        span {
          font-size: 28px;
        }
      }

      &-per-month {
        span {
          font-size: 20px;
          line-height: 30px;
        }
      }

      &-title {
        font-size: 28px;
        line-height: 46px;
        margin: auto 0 12px;
      }
    }

    &-benefits {
      margin: 40px 0;
      padding: 40px 10px 66px 20px;
    }

    &-list {
      margin: 20px 0 0;

      &-item {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .about {
    padding: 30px 0 48px;

    iframe {
      height: 410px;
    }

    &-title {
      margin-top: 37px;
    }

    &-accordion {
      padding: 12px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    &-panel p {
      padding: 0 0 12px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .guide {
    padding: 60px 20px;

    &-title {
      font-size: 30px;
      line-height: 135%;
      margin-bottom: 60px;
    }

    &-item {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 50px;

      &:nth-of-type(even) {
        flex-direction: column;
      }

      iframe,
      &-wrapper {
        flex: unset;
      }

      &-title {
        font-size: 26px;
        line-height: 135%;
      }

      &-link {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 35px 0;

    &-wrapper {
      flex-direction: column;
    }

    &-list {
      display: none;
    }

    &-nav {
      gap: 17px;
      margin-top: 19px;

      &-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #8C8F91;
      }
    }

    hr {
      margin: 17px 0;
    }

    &-address {
      margin-bottom: 14px;
    }

    &-address,
    &-copy {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(248, 249, 250, 0.5);
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 480px) {
  .features {
    padding: 40px 0 46px;

    &-title {
      margin-bottom: 18px;
    }

    &-grid {
      height: 320px;
      overflow: visible;
    }

    &-item {
      height: 100%;
      padding: 18px 24px;
    }
  }

  .advantages {
    &-item {
      &:first-of-type {
        .advantages-wrapper {
          margin-top: 40px;
          gap: 60px;
        }
      }

      &:nth-of-type(2) {
        .advantages-wrapper {
          margin-top: 50px;
        }
      }

      &:last-of-type {
        .advantages-wrapper {
          gap: 70px;

          img {
            width: 277px;
          }
        }
      }
    }
  }

  .features-hero {
    padding: 42px 0 50px;

    &-text {
      margin: 8px auto 14px;
    }
  }

  .features-detail {
    margin-top: 40px;
    margin-bottom: 40px;

    &:first-of-type {
      margin-top: 50px;
    }

    &-text {
      max-width: 100%;
      margin: 10px 0 18px;
    }

    &-item {
      padding: 12px;
      min-width: 100%;
      max-width: 100%;
      row-gap: 18px;

      &-title {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .about {
    iframe {
      height: 218px;
    }
  }

  .guide {
    &-title {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 390px) {
  .advantages {
    &-item {

      &:last-of-type {
        .advantages-wrapper {
          margin-top: 30px;
          gap: 50px;
        }
      }
    }
  }
  .about {
    iframe {
      height: 197px;
    }
  }
}

@media screen and (max-width: 375px) {
  .advantages {
    &-item {

      &:last-of-type {
        .advantages-wrapper {
          margin-top: 20px;
        }
      }
    }
  }
  .about {
    iframe {
      height: 188px;
    }
  }
}
