* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
iframe {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #495057;
}

ul {
  list-style: none;
}

html {
  overflow-x: hidden;
}
html.hidden {
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #212529;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  color: #F36823;
}

.header {
  background: #fff;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
}
.header-wrapper-mobile {
  display: none;
}
.header-wrapper-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-action-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  color: #495057;
}
.header-action-link-accent {
  color: #F36823;
}

.lang-dropdown {
  position: relative;
}
.lang-dropdown-toggle, .lang-dropdown-item {
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  cursor: pointer;
}
.lang-dropdown-item:hover {
  color: #F36823;
}
.lang-dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 5px 12px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: -8px;
  transform: translateY(100%);
  right: 0;
  z-index: 5;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.lang-dropdown-menu.active {
  display: flex;
}

.hamburger {
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  cursor: pointer;
}
.hamburger-line {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}
.hamburger-top {
  margin-top: 0;
}
.hamburger-active .hamburger-top {
  transform: rotate(-45deg);
  margin-top: 6px;
}
.hamburger-active .hamburger-bottom {
  opacity: 0;
  transform: rotate(45deg);
}
.hamburger-active .hamburger-mid {
  transform: rotate(45deg);
  margin-top: -2px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav-link {
  color: rgba(73, 80, 87, 0.5);
  position: relative;
}
.nav-link::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #F36823;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
}
.nav-link:hover {
  color: #495057;
}
.nav-link-active {
  font-weight: 600;
  color: #495057;
}
.nav-link-active::before {
  opacity: 1;
}

.hero {
  padding: 66px 0;
  position: relative;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.hero-wrapper div, .hero-wrapper iframe {
  flex: 1 1 0;
}
.hero-text {
  margin: 14px 0 10px;
}
.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.features {
  margin-top: 117px;
  background: url("/images/features-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 51px 0 58px;
}
.features-title {
  margin-bottom: 22px;
}
.features-grid {
  height: 630px;
}
.features-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 4px rgba(234, 237, 240, 0.4);
  border-radius: 8px;
  padding: 32px 32px 38px;
  border-bottom: 4px solid #FF9763;
  height: calc((100% - 30px) / 2);
}
.features-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #212529;
  margin-bottom: 10px;
}

.advantages {
  padding-top: 86px;
  padding-bottom: 117px;
}
.advantages-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #495057;
  margin: 0 auto 35px;
  max-width: 790px;
}
.advantages-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 12px;
}
.advantages-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.advantages-item {
  min-height: 470px;
  position: relative;
  margin-bottom: 82px;
  display: flex;
  align-items: center;
}
.advantages-item:last-of-type {
  margin-bottom: 0;
}
.advantages-item:nth-of-type(even) .advantages-wrapper {
  flex-direction: row-reverse;
}
.advantages-item:nth-of-type(even) .advantages-img {
  right: unset;
  left: 0;
  transform: scaleX(-1);
}
.advantages-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.advantages-text {
  margin: 14px 0 10px;
}

.banner {
  background: url("/images/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 56px 0;
  text-align: center;
}
.banner-title {
  color: #fff;
}
.banner-text {
  color: #fff;
  margin: 14px auto;
  max-width: 517px;
  opacity: 0.8;
}
.banner-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.footer {
  padding: 96px 0 100px;
  background: #212529;
}
.footer-logo {
  display: flex;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  align-items: center;
  gap: 28px;
}
.footer-nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #8C8F91;
}
.footer-nav-link:hover {
  color: #F36823;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-list a {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: rgba(248, 249, 250, 0.5);
}
.footer-list a:hover {
  color: #F36823;
}
.footer hr {
  margin: 30px 0 40px;
  height: 1px;
  background: rgba(229, 229, 229, 0.2);
  border: none;
}
.footer-address, .footer-copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(248, 249, 250, 0.5);
}

.features-hero {
  background: url("/images/features-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 146px 0 176px;
}
.features-hero-text {
  max-width: 633px;
  margin: 14px auto 10px;
}

.features-detail {
  margin-top: 64px;
  margin-bottom: 84px;
}
.features-detail:first-of-type {
  margin-top: 84px;
}
.features-detail-text {
  margin: 14px 0 24px;
  max-width: 820px;
}
.features-detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.features-detail-item {
  background: #F7F7F7;
  border-radius: 8px;
  padding: 24px;
  flex: 1 1 0;
  min-width: calc((100% - 40px) / 3);
  max-width: calc((100% - 40px) / 3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.features-detail-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212529;
  position: relative;
  display: block;
  padding-left: 12px;
  margin-left: 10px;
}
.features-detail-item-title::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #212529;
  position: absolute;
  top: 11px;
  left: 0;
}

.features-main {
  position: relative;
}
.features-main-img-1 {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}
.features-main-img-2 {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: -1;
}
.features-main-img-3 {
  position: absolute;
  left: 0;
  top: 70%;
  z-index: -1;
}

.price {
  padding: 65px 0 50px;
}
.price-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #212529;
  text-align: center;
  margin: 0;
}
.price-top-title {
  margin-bottom: 14px;
}
.price-text {
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  text-align: center;
  margin: 0;
}
.price-wrapper {
  display: flex;
  justify-content: center;
  margin: 68px auto 50px;
  width: -moz-max-content;
  width: max-content;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 4px rgba(234, 237, 240, 0.7);
  border-radius: 16px;
}
.price-card {
  padding: 60px 50px 66px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.price-card:first-of-type .price-card-top {
  border-bottom: 2px solid #4879F1;
}
.price-card:first-of-type .price-card-title {
  color: #4879F1;
}
.price-card:first-of-type .price-card-btn {
  border: 2px solid #4879F1;
  color: #4879F1;
}
.price-card:first-of-type .price-card-btn:hover {
  background: #4879F1;
  color: #fff;
}
.price-card:nth-of-type(2) {
  border: 1px solid #F36823;
  box-shadow: 0px 0px 22px 4px rgba(234, 237, 240, 0.6);
}
.price-card:nth-of-type(2) .price-card-badge {
  background: rgba(243, 104, 35, 0.2);
  color: #F36823;
}
.price-card:nth-of-type(2) .price-card-top {
  border-bottom: 2px solid #F36823;
}
.price-card:nth-of-type(2) .price-card-title {
  color: #F36823;
}
.price-card:nth-of-type(2) .price-card-btn {
  border: 2px solid #F36823;
  color: #F36823;
}
.price-card:nth-of-type(2) .price-card-btn:hover {
  background: #F36823;
  color: #fff;
}
.price-card:last-of-type .price-card-badge {
  background: rgba(105, 176, 12, 0.2);
  color: #69B00C;
}
.price-card:last-of-type .price-card-top {
  border-bottom: 2px solid #69B00C;
}
.price-card:last-of-type .price-card-title {
  color: #69B00C;
}
.price-card:last-of-type .price-card-btn {
  border: 2px solid #69B00C;
  color: #69B00C;
}
.price-card:last-of-type .price-card-btn:hover {
  background: #69B00C;
  color: #fff;
}
.price-card-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px 20px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
}
.price-card-top {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #848199;
  padding-bottom: 9px;
}
.price-card-top span {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #212529;
}
.price-card-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  margin: auto 0 20px;
  text-transform: capitalize;
}
.price-card-per-month {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #C2C2C4;
  margin-top: 7px;
}
.price-card-per-month span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.price-card-btn {
  border-radius: 40px;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.price-card-trial {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #848199;
  display: inline-block;
  text-decoration: underline;
  margin: 15px auto 0;
  cursor: pointer;
}
.price-benefits {
  margin: 50px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 4px rgba(234, 237, 240, 0.7);
  border-radius: 16px;
  padding: 64px 80px 74px 120px;
}
.price-list {
  margin: 38px 0 0;
  padding: 0;
}
.price-list-item {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 26px;
  color: #212529;
  list-style-image: url("/images/check.svg");
  list-style-position: inside;
}
.price-list-item:last-of-type {
  margin-bottom: 0;
}
.price-link {
  color: #4879F1;
}

.about {
  padding: 65px 0 80px;
  text-align: center;
}
.about-text {
  margin: 14px auto 30px;
  max-width: 900px;
}
.about-title {
  text-align: left;
  margin-top: 82px;
}
.about-accordion {
  cursor: pointer;
  font-size: 21px;
  line-height: 32px;
  color: #212529;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-accordion-active .about-accordion-icon span:last-of-type {
  opacity: 0;
}
.about-accordion-icon {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
}
.about-accordion-icon span {
  width: 14px;
  height: 2px;
  background: #212529;
}
.about-accordion-icon span:last-of-type {
  position: absolute;
  transform: rotate(90deg);
  transition: 0.3s;
}
.about-panel {
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.about-panel p {
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  padding: 0 0 16px;
  text-align: left;
}

.guide {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fff;
  min-height: 100vh;
  position: relative;
  padding: 94px 0 60px;
  overflow: hidden;
}
.guide * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.guide iframe {
  max-width: 100%;
}
.guide img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.guide-img-1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%);
}
.guide-img-2 {
  position: absolute;
  top: 0;
  left: 0;
}
.guide-img-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.guide-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.guide-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #212529;
  margin-bottom: 140px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.guide-item {
  display: flex;
  gap: 110px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
.guide-item:last-of-type {
  margin-bottom: 0;
}
.guide-item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.guide-item iframe, .guide-item-wrapper {
  flex: 1 1 0;
}
.guide-item-wrapper {
  display: flex;
  flex-direction: column;
}
.guide-item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #212529;
}
.guide-item-text {
  font-size: 16px;
  line-height: 26px;
  color: #495057;
  margin: 14px 0 16px;
}
.guide-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #F36823;
  text-decoration: underline;
  margin-left: auto;
}

.contact {
  position: relative;
  text-align: center;
  padding: 65px 0 99px;
  overflow: hidden;
}
.contact-img-1 {
  position: absolute;
  z-index: -1;
  bottom: 10%;
  left: 0;
}
.contact-img-2 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.contact-text {
  margin: 14px auto 55px;
  max-width: 633px;
}
.contact-form {
  width: 680px;
  padding: 75px 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 4px rgba(234, 237, 240, 0.7);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}
.contact-label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #212529;
}
.contact-input, .contact-textarea {
  border: 1px solid #A0A0A0;
  border-radius: 40px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: rgba(33, 37, 41, 0.5);
  transition: 0.3s;
}
.contact-input::-moz-placeholder, .contact-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: rgba(33, 37, 41, 0.5);
}
.contact-input:-ms-input-placeholder, .contact-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: rgba(33, 37, 41, 0.5);
}
.contact-input::placeholder, .contact-textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: rgba(33, 37, 41, 0.5);
}
.contact-input:focus, .contact-textarea:focus {
  border-color: #F36823;
  outline: none;
}
.contact-textarea {
  border-radius: 20px;
  resize: none;
}
.contact-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F36823;
  text-align: center;
  width: 207px;
  height: 45px;
  border: 2px solid #F36823;
  border-radius: 40px;
  background: transparent;
  margin: 0 auto;
  cursor: pointer;
}
.contact-form-text {
  font-size: 12px;
  line-height: 135%;
  color: rgba(33, 37, 41, 0.7);
}
.contact-form-text a {
  color: #212529;
}
.contact-form-text a:hover {
  color: #F36823;
}
.contact-banner-input {
  width: 286px;
  height: 45px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 10px 22px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: 0.3s;
  background: transparent;
}
.contact-banner-input::-moz-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contact-banner-input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contact-banner-input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contact-banner-input:focus {
  outline: none;
}
.contact-banner-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  color: #FFFFFF;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 22px;
}

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  .header-logo {
    display: none;
  }
  .header-logo-mobile {
    display: flex;
    width: 136px;
    margin-top: 5px;
  }
  .header-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 18;
    height: calc(100vh - 50px);
    padding: 40px;
    transition: 0.3s;
    transform: translateY(-110%);
    background: #fff;
    flex-direction: column;
  }
  .header-wrapper-active {
    transform: translateY(0);
  }
  .header-wrapper-mobile {
    position: relative;
    z-index: 19;
    background: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-actions {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
  }

  .lang-dropdown-desktop {
    display: none;
  }

  main {
    padding-top: 50px;
  }

  .features-grid {
    height: 940px;
  }
  .features-item {
    height: calc((100% - 40px) / 3);
  }
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .hero {
    padding: 18px 0 48px;
  }
  .hero-wrapper {
    gap: 44px;
    flex-direction: column-reverse;
  }
  .hero-wrapper div,
.hero-wrapper iframe {
    flex: unset;
  }
  .hero-wrapper iframe {
    width: 100%;
  }
  .hero-text {
    margin: 10px 0 14px;
  }
  .hero-img {
    display: none;
  }

  .features {
    margin-top: 0;
  }

  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-title {
    font-size: 24px;
    line-height: 32px;
  }
  .advantages-item {
    margin-bottom: 50px;
  }
  .advantages-item:nth-of-type(even) .advantages-wrapper {
    flex-direction: column-reverse;
  }
  .advantages-item:nth-of-type(even) .advantages-img {
    right: 0;
    left: 0;
    transform: unset;
  }
  .advantages-item:first-of-type .advantages-wrapper {
    margin-top: 50px;
    gap: 70px;
  }
  .advantages-item:nth-of-type(2) .advantages-wrapper {
    gap: 60px;
  }
  .advantages-item:last-of-type .advantages-wrapper {
    margin-top: 40px;
    gap: 60px;
  }
  .advantages-img {
    left: 0;
    top: 0;
    bottom: unset;
  }
  .advantages-wrapper {
    flex-direction: column-reverse;
  }

  .price {
    padding: 30px 0 40px;
  }
  .price-title {
    font-size: 24px;
    line-height: 32px;
  }
  .price-wrapper {
    margin: 40px auto;
    flex-direction: column;
  }
  .price-card {
    padding: 48px 26px 26px;
  }
  .price-card-top {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
  }
  .price-card-top span {
    font-size: 28px;
  }
  .price-card-per-month span {
    font-size: 20px;
    line-height: 30px;
  }
  .price-card-title {
    font-size: 28px;
    line-height: 46px;
    margin: auto 0 12px;
  }
  .price-benefits {
    margin: 40px 0;
    padding: 40px 10px 66px 20px;
  }
  .price-list {
    margin: 20px 0 0;
  }
  .price-list-item {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
  }

  .about {
    padding: 30px 0 48px;
  }
  .about iframe {
    height: 410px;
  }
  .about-title {
    margin-top: 37px;
  }
  .about-accordion {
    padding: 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .about-panel p {
    padding: 0 0 12px;
    font-size: 14px;
    line-height: 24px;
  }

  .guide {
    padding: 60px 20px;
  }
  .guide-title {
    font-size: 30px;
    line-height: 135%;
    margin-bottom: 60px;
  }
  .guide-item {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }
  .guide-item:nth-of-type(even) {
    flex-direction: column;
  }
  .guide-item iframe, .guide-item-wrapper {
    flex: unset;
  }
  .guide-item-title {
    font-size: 26px;
    line-height: 135%;
  }
  .guide-item-link {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 35px 0;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-list {
    display: none;
  }
  .footer-nav {
    gap: 17px;
    margin-top: 19px;
  }
  .footer-nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #8C8F91;
  }
  .footer hr {
    margin: 17px 0;
  }
  .footer-address {
    margin-bottom: 14px;
  }
  .footer-address, .footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(248, 249, 250, 0.5);
    opacity: 0.6;
  }

  .contact {
    padding: 30px 0;
  }
  .contact-text {
    margin: 14px auto 36px;
  }
  .contact-form {
    width: 100%;
    padding: 46px 24px;
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .features {
    padding: 40px 0 46px;
  }
  .features-title {
    margin-bottom: 18px;
  }
  .features-grid {
    height: 320px;
    overflow: visible;
  }
  .features-item {
    height: 100%;
    padding: 18px 24px;
  }

  .advantages-item:first-of-type .advantages-wrapper {
    margin-top: 40px;
    gap: 60px;
  }
  .advantages-item:nth-of-type(2) .advantages-wrapper {
    margin-top: 50px;
  }
  .advantages-item:last-of-type .advantages-wrapper {
    gap: 70px;
  }
  .advantages-item:last-of-type .advantages-wrapper img {
    width: 277px;
  }

  .features-hero {
    padding: 42px 0 50px;
  }
  .features-hero-text {
    margin: 8px auto 14px;
  }

  .features-detail {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .features-detail:first-of-type {
    margin-top: 50px;
  }
  .features-detail-text {
    max-width: 100%;
    margin: 10px 0 18px;
  }
  .features-detail-item {
    padding: 12px;
    min-width: 100%;
    max-width: 100%;
    row-gap: 18px;
  }
  .features-detail-item-title {
    font-size: 16px;
    line-height: 26px;
  }

  .about iframe {
    height: 218px;
  }

  .guide-title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .contact-banner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contact-banner-btn {
    margin: 0;
  }
}
@media screen and (max-width: 390px) {
  .advantages-item:last-of-type .advantages-wrapper {
    margin-top: 30px;
    gap: 50px;
  }

  .about iframe {
    height: 197px;
  }
}
@media screen and (max-width: 375px) {
  .advantages-item:last-of-type .advantages-wrapper {
    margin-top: 20px;
  }

  .about iframe {
    height: 188px;
  }
}
