.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width,100px);
  height: var(--switch-height,40px);
  user-select: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-background-off,transparent);
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid #e7e7e7;
}

.slider::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--switch-color,white);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  left: 0;
}

.text {
  color: white;
  z-index: 1;
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.on {
  color: black;
  transition: color 0.3s ease-in-out;
}

.off {
  color: white;
  transition: color 0.3s ease-in-out;
}

input:checked + .slider {
  background-color: var(--switch-background-on,transparent);
}

input:checked + .slider::before {
  transform: translateX(100%);
}

input:checked + .slider .on {
  color: white;
}

input:checked + .slider .off {
  color: black;
}
