.guest-table {
  .dataTables_scroll {
    margin: 10px 0;
  }

  td, th {
    padding: 5px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #ccc;
      transition: .15s;
      cursor: pointer;

      &:hover {
        background: #eaebf2;
      }
    }
  }
}