
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/utilities/api";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
body{
  height: 100dvh;
  background-image: radial-gradient(300px 300px at 50px 50px, rgba(35, 56, 243, 0.3) 0%, rgba(255, 255, 255, 0.08) 61.98%, rgba(255, 255, 255, 0.04) 93%),
  radial-gradient(300px 300px at 1300px 50px, rgba(243, 104, 35, 0.3) 0%, rgba(255, 255, 255, 0.08) 61.98%, rgba(255, 255, 255, 0.04) 93.75%),
  radial-gradient(300px 300px at 500px 500px, rgba(243, 104, 35, 0.3) 0%, rgba(255, 255, 255, 0.08) 61.98%, rgba(255, 255, 255, 0.04) 93.75%);

  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.gift_content{
  padding: 40px 0 0;
}
.gift_title{
  margin: 0;
  font-size: 48px;
  line-height: 80px;
  font-weight: 500;
  text-align: center;
}
.gift_title span{
  color: #FF9763;
}
.gift_subtitle{
  color: #C3C3C3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}
.place_name{
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}
.breadcrumb{
  display: flex;
  gap: 24px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  flex-wrap: nowrap;
  overflow: auto;
}
.breadcrumb div{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C3C3C3;
  white-space: nowrap;
}
.breadcrumb div.active{
  color: #201E1E;
  font-weight: 500;
}
.option_item{
  border-radius: 40px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 38px 4px #EAEDF0;
  height: 100%;
}
.option_item .image{
  border-radius: 16px;
  background-image: var(--image-background);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.option_item .type_title{
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.option_item .type_title .big{
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  font-style: italic;
}
.gift_content .giftcard_button{
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 16px;
  max-width: 300px;
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.gift_content .giftcard_button svg{
  width: 16px;
}
.gift_content .giftcard_button.blue{
  background: #2866E6;
}
.gift_wrapper{
  padding: 0 20px 40px;
  text-align: left;
}
.gift_content .price_badge,
.gift_content .price_badge:hover{
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px;
  background: #EBF1FF;
  color: #2866E6;
  white-space: nowrap;
}
.slide_title{
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.gift_content .gray_text{
  color: #747474;
}
.gift_content .label_title{
  font-weight: 600;
  margin-bottom: 11px;
}
.exp_image{
  border-radius: 20px;
  background-image: var(--image-background);
  height: 100%;
  min-height: 327px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px){
  .gift_content{
    padding: 20px 0 0;
  }
  .gift_title{
    font-size: 32px;
    line-height: 40px;
  }
  .gift_subtitle{
    font-size: 16px;
    line-height: 28px;
  }
  .place_name{
    font-size: 36px;
    margin-top: 0px;
  }
  .breadcrumb{
    gap: 8px;
    margin-top: 32px;
  }
  .breadcrumb div {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
  }
  .gift_wrapper {
    padding: 0 5px 20px;
  }
  .gift_content .xs_column_reverse{
    flex-direction: column-reverse;
  }
  .gift_content .giftcard_button{
    padding: 10px;
  }
}

