.table-row{
    // overflow-x: scroll;
}

//Data Table Box

.DayView__BoxItem .MuiBox-root{
    // padding: 0;
}

.DayView__container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.DayView__container > .MuiBox-root{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.DayView__BoxItem{
    flex: 1;
    overflow: auto;
    height: 100%;
}
.DayView__container .MuiDataGrid-root .MuiDataGrid-cellContent{
    overflow: auto;
    text-overflow: unset;
}
.tablePlanSidebar{
    flex: 1;
    overflow: auto;
}
.tablePlanSidebar .react-calendar-timeline .rct-header-root{
    background: #f0f0f0;
}
.canvas-toggle-btn {
    position: absolute !important;
    bottom: 20px;
    right: 50px;
    transform: translateY(-250%);
    z-index: 2;
    padding: 8px !important;
    min-width: 0 !important;
}
.tablePlanSidebar .react-calendar-timeline .rct-dateHeader-primary{
    color: var(--bs-body-color);
}
.datePickerFullWidth .react-datepicker__input-container input{
  width: 100%;
}
.phone-input {
  input {
    padding: 8.5px 14px 8.5px 55px !important;
    width: 100% !important;
    height: 33px !important;
    font-size: 16px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }

  .special-label {
    font-size: 10px !important;
  }
}

.scroll_wrapper{
  .dayview_table_row_waiting,
  .dayview_table_row_waiting:hover{
    background: rgba(128,128,128,0.5);
  }
  .dayview_table_row_pending,
  .dayview_table_row_pending:hover{
    background: rgba(169,169,169,0.5);
  }
  .dayview_table_row_no_show,
  .dayview_table_row_no_show:hover{
    background: rgba(255,0,0,0.5);
  }
  .dayview_table_row_confirmed:hover{
    background: rgba(255,255,0,0.5);
  }
  .dayview_table_row_arrived,
  .dayview_table_row_arrived:hover{
    background: rgba(0,128,0,0.5);
  }
  .dayview_table_row_completed,
  .dayview_table_row_completed:hover{
    background: rgba(0,0,255,0.5);
  }
}

