.sidebar{
    flex:1;
    min-width: 252px;
    max-width: 252px;
    // height: calc(100vh - 54px);
    min-height: 100%;
    height: 100%;
    background: #343C48;
    position: sticky;
    top: 0;
    // overflow-y: scroll ;
}
.sidebarWrapper{
    // padding: 0 20px;
}
.sidebarList{
    list-style: none;
    padding: 0;
}
.sidebarListItem  {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
.sidebarListItem svg {
    margin-right: 15px;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: #202124;
}
