.SidebarLink {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    list-style: none;
    height: 48px;
    text-decoration: none;
    font-size: 14px;
    border-left: 4px solid transparent;

    &:hover {
        background: #252831;
        border-left: 4px solid #fff;
        cursor: pointer;
    }
}
.SidebarLinkItem{
    display: flex;
    align-items: center;
}
.SidebarLinkItem svg{
    width: 18px;
}
.SidebarLabel {
    margin-left: 16px;
}
.DropdownLink {
    background: #3C4655;
    height: 48px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 14px;

    &:hover {
        background: #252831;
        color: #f5f5f5;
        cursor: pointer;
    }
    &:focus span{
        color:#fff;
        transform: scale(1.1);
        // text-decoration: underline;
    }
    &:focus span::before{
        content: "\25CF";
        color: #fff;
        font-size: 12px;
        left: -15px;
        position: absolute;
        top:50%;
        transform: translate(0 ,-50%);
    }
}
.SidebarButtonOpen{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
