.rbc-event {
  background: transparent;
  color: #000;
  pointer-events: none;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 20%;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}