.TabNewBooking__container{
  display: flex;
}
.TabNewBooking__left{
  width: 33%;
  height: auto;
  border-right: 2px solid #EBECF1;
  padding: 5px;
}

.TabNewBooking__right{
  width: 67%;
  height: auto;
  // border: 1px solid red;
  padding: 5px;
}
.NewBookingDate__container{
  // display: flex;
  // align-items: center;
}
.NewBookingArea__container{
  // display: flex;
  // align-items: center;
  justify-content: space-between;
}

.TabNewBooking__container .MuiOutlinedInput-input.MuiOutlinedInput-input{
  padding: 5px;
}
.TabNewBooking__container .MuiOutlinedInput-root.MuiOutlinedInput-root{
  padding: 0px!important;
  padding-right:5px;
  font-size: 12px;
}
.GuestInfo{
  width: 50%;
}
.GuestInfo .container{
  justify-content: space-between ;
}
.TabNewBookingDataPicker__container{
  width: 100%;
} 
.NewBooking__Input{
  width: 100%;
}
.TabNewBookingDataPicker__container .react-datepicker__input-container input{
  width: 100%;
  text-align: center;
} 
.TabNewBookingDataPicker__container .react-datepicker-ignore-onclickoutside{
  // width: 100%;
  // text-align: center;
} 

.TabNewBooking__SelectCountry{
  // width:50px;
}
.TabNewBooking__SelectArea{
  width: 100%;
}
.TabNewBooking__SelectArea .SelectAreaInput{
  width: 100%;
}
.TabNewBookingDuraion__container .time-spent{
  width: 100px;
  height: 20px;
}