table.dataTable thead th, table.dataTable thead td{
    font-size: 12px;
    white-space: nowrap;
    // text-align: center;
}
.dataTables_scrollBody>table>tbody>tr>td{
    font-size: 12px;
}
.MuiBox-root .css-19kzrtu{
    padding: 24px 0px;
}

.table.dataTable thead tr th{
    // padding:10px 10px;
    // white-space: nowrap;
}
table.dataTable.display>tbody>tr>td{
    padding:10px 10px;
    white-space: nowrap;
    // text-align: center;
}