table.dataTable thead th, table.dataTable thead td{
    font-size: 12px;
}
.dataTables_scrollBody>table>tbody>tr>td{
    font-size: 12px;
}
.MuiBox-root .css-19kzrtu{
    padding: 24px 0px;
}

.table.dataTable tbody tr td{
    width: max-content!important;
}