.BasicInformation__TextForm__Container{
    display: flex;
    width: 100%;
}
.MainInformation{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.SecondaryInformation{
    width:30%;
    display: flex;
    flex-direction: column;
}

.BasicInformation__TextField{
    margin: 10px;
}