.DayViewTop__container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.DayViewSelect__container{
  margin-right: 20px;
}
.DayViewSelect{
  width: 100px;
}
.DayViewSelect .MuiSelect-select{
  padding: 5px;
  font-size: 12px;
}
.DayViewTop__container .DayViewSelect .MuiMenuItem-root{
  // font-size: 12px;
}

.ItemSelect{
  font-size: 12px!important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  // font-size: 12px!important;
}