.table-row{
    overflow-x: scroll;
}

//Data Table Box

.DayView__BoxItem .MuiBox-root{
    padding: 0;
}

.DayViewSelect__container{
    display: flex;
    padding-top: 10px ;
}
.DayViewSelect{
    width: 100px;
    margin-right: 20px;
}